{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Soldes</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Solde</th>
                            <th>DéBIL</th>
                            <th>Boite</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for debil in debils %}
                        <tr>
                            <td class="
                            {% if debil.get_solde < 0 %}
                                text-danger
                            {% elif debil.get_solde > 0 %}
                                text-success
                            {% else %}
                                text-muted
                            {% endif %}
                            ">{{ debil.get_solde|floatformat }} &euro;</td>
                            <td>{{ debil.name }}</td>
                            <td>{{ debil.company.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div>
{% endblock content %}
