{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <p class="small text-muted">Si votre nom n'existe pas encore, allez voir Jade !</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="./" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-default" value="JEUDIBREIZH" />
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
