{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
		<p>Bon app!</p>
		<p class="small text-muted">Prends le temps de regarder <a href="http://vidclust.com/" title="vidclust">quelque vidéos</a> en attendant le livreur.</p>
	</div>
	<div class="col-sm-12">
        <p><a href="/order" title="commander" class="btn btn-lg btn-success">Commander une autre pizza</a></p>
        <p><a href="/orders-history" title="voir les commandes" class="btn btn-info">Voir les commandes</a></p>
    </div>
</div>
{% endblock content %}
