{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    {% for order in last_orders %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Jeudizza {{ order.date|date:"d F Y" }} - {% if order.open %}Ouverte{% else %}Fermée{% endif %}</h2>
                <ul class="list-group">
                    {% for pizza_order in order.pizzaorder_set.all %}
                    <li class="list-group-item"> {{ pizza_order.pizza.name }} - pate {{ pizza_order.crust.name }} - {{ pizza_order.get_price|floatformat }}&euro; - {{ pizza_order.debil }}</li>
                    {% endfor %}
                </ul>
                <div class="well">Prix total: {{ order.get_total_price|floatformat }}&euro;</div>
                {% if forloop.first %}
                <div class="well"><a href="/who-work-today" title="Qui bosse aujourd'hui">Random ceux qui bossent</a></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}
