{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    {% for order in last_orders %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Jeudizza {{ order.info.date|date:"d F Y" }} - {% if order.info.open %}Ouverte{% else %}Fermée{% endif %}</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Quantité</th>
                            <th>Détail</th>
                            <th>Prix</th>
                            <th>DéBILs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pizza_order in order.content %}
                        <tr>
                            <td>{{ pizza_order.quantity }}</td>
                            <td>{{ pizza_order.pizza.get_verbose_description }}</td>
                            <td>{{ pizza_order.price|floatformat }}&euro;</td>
                            <td>{{ pizza_order.debil_list|join:", "}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="well">Prix total: {{ order.info.get_total_price|floatformat }}&euro;</div>
                {% if forloop.first %}
                <div class="well"><a href="/who-work-today" title="Qui bosse aujourd'hui">Random ceux qui bossent</a></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}
