{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <p><a href="http://pizza.dominos.fr/la-carte/nos-pizzas" title="la carte" class="btn btn-info" target="_blank">Détail de la carte</a></p>
        <p class="small text-muted">La pizza est à 5 ou 6€, <a href="http://vidclust.com/app" title="vidclust">l'appli Vidclust</a> est toujours gratuite. Déjà plus de 10000 téléchargements.</p>
        <p class="small text-muted">Si votre nom n'existe pas encore, allez voir AnyFetch !</p>

    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
            <div class="panel-body">
              <form action="./" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                      {{ field.errors }}
                      {{ field.label_tag }} {{ field }}
                  </div>
                  {% endfor %}
                  <input type="submit" class="btn btn-default" value="JEUDIZZA" />
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock content %}
