{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            {% for chore in chores}
              <div class="panel-body">
                <h2>{{chore.name}}</h2>
                <form action="./" method="post">
                  <input type="submit" class="btn btn-default" value="J'ai besoin d'un déBIL !" />
                </form>
                <p>
                  Le dernier a avoir été choisi était {{ chore.last_chosen_one.name }} le {{ chore.last_chosen_one.date|date:"d F Y G:i" }}
                </p>
              </div>
            {% endfor}
        </div>
    </div>
</div>

{% endblock content %}
