{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            {% if not_enough_people %}
             <div class="panel-body">
                <p>Vous n'êtes pas assez nombreux pour pouvoir définir automatiquement qui fait quoi.</p>
                <p>Débrouillez-vous entre vous !</p>
            </div>
            {%else %}
            <div class="panel-body">
                <h2>Commande:</h2>
                <ul class="list-group">
                    <li class="list-group-item"> {{ commander.name }}</li>
                </ul>
            </div>
            <div class="panel-body">
                <h2>Vont chercher:</h2>
                <ul class="list-group">
                    {% for walker in walkers %}
                    <li class="list-group-item"> {{ walker.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-body">
                <h2>Ira jeter les cartons de pizza:</h2>
                <ul class="list-group">
                    <li class="list-group-item"> {{ trashman.name }}</li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
